<!DOCTYPE html>
<html>
  <head>
    <%- include('./partials/head'); -%>
    <script src="/socket.io/socket.io.js"></script>
    <script>
      window.socket = io.connect();
    </script>
  </head>
  <body>
    <%- include('./partials/header'); -%>
    <main class="ui container">
    </main>
  </body>
</html>
